.container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Header Styles */
  #header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
  }
  
  .bar{
    list-style: none;
    padding: 0;
    margin: 0;

  }
  .bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .bar li {
    display: inline;
    margin-right: 10px;
    display: inline-block;

  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px 110px;

  background-color: #ccc;

  }
  
  .bar li a {
    color: rgb(31, 7, 7);
    text-decoration: none;
    padding: 5%;
    border: 10%;
    margin: 5%;
    transition:all 0.3 ease 0s ;
    
   
  }
  
  .bar li a:hover {
    color: #59d6ec;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .headerText {
    flex: 1;
    text-align: left;
    padding-left: 20px;
  }
  
  .headerimg img {
    max-width: 100%;
    height: auto;
  }

  /*about me*/
  /* -----------------about me---------------*/
#aboutMe{
    padding: 80px 0;
    background-color:rgb(184, 179, 179);
    

}
.profileWriteUp{

    margin-right: 10px;
    font-size: larger;
}

.pageheading{
margin-left: 50px;
font-size: 40px ;

}
.pageheading li{
font-size: 30px;

}
.skills{
    margin-left: 50px;
    font-size: 40px;
}
.skills li{
    font-size: 30px;
}

.pageheading:hover{
    text-decoration: underline;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;
    padding: 20px;

}
    .skills:hover {
        text-decoration: underline;

    }
.co1{
    flex-basis: 35%;
}
.col1 img{
    width: 50%;
    border-radius: 15px;
    height: fit-content;
    margin: 0px 30px;
    transition: transform 0.3s ease
}
.col1 img:hover{
    transform: scale(1.1)
}
.col1 ul li span{
    color: rgb(0, 102, 255);
}

.col2{
    flex-basis: 60%;

}
.col2 h1{
    font-size: 60px;
    font-weight: 600;
}
p{
    text-align: justify;
}
  
.col2 ul li{
    list-style:square;
    margin: 10px 0;
    font-size: 20px;
}

.social-icon a{
    size: 2em;
}

.row-contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;
    padding: 20px;
}

.contact {
    background-color:rgb(184, 179, 179);
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    font-size: 20px;
    margin: 10PX 20px;
}
.socialmedia{
    margin-left: 20px;
}
.socialmedia a{
    text-decoration: none;
    display: inline-block;

}
.socialmedia a:hover{
    cursor: grabbing;
}
.contact-right{
    flex-basis: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;

}
form input, form textarea{
    width :100%;
    background-color: beige;
    margin:15px 0;
    padding: 15px;
    color: black;
    font-size: 18px;
    border: solid 1px black;
}
html{
    scroll-behavior: smooth;
}

  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  